header {
  display: flex;
  width: 100%;

  .header__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    width: 100%;

    h2 {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      color: var(--grey-400);
    }

    .header__name {
      font-size: 6rem;
      background: -webkit-linear-gradient(
        var(--secondary-color-blue),
        var(--secondary-color-blue-gradient)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h1 {
      font-size: 4.7rem;
      letter-spacing: -4px;
      line-height: 80px;
      width: 100%;
      color: var(--grey-500);
    }

    .header__btn-container {
      width: 100%;

      display: flex;
      gap: 8px;
      margin-top: 1.5rem;
      .header__link {
        width: 100%;
        max-width: 200px;
      }
    }
  }
}

header::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 100%;
  top: 45%;
  left: 50%;
  background-color: #f5f5f5;
  background-color: var(--grey-100);
  border-radius: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  animation: wave 7s ease-in-out infinite alternate;
  -webkit-animation: wave 7s ease-in-out infinite alternate;
  z-index: -1;
}
@keyframes wave {
  from {
    transform: translateX(-50%) skew(0, -10deg);
  }
  to {
    transform: translateX(-30%) skew(10deg, 0);
    -webkit-transform: translateX(-30%) skew(10deg, 0);
    -moz-transform: translateX(-30%) skew(10deg, 0);
    -ms-transform: translateX(-30%) skew(10deg, 0);
    -o-transform: translateX(-30%) skew(10deg, 0);
  }
}
