.about__container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  width: 100%;
  gap: 20px;
  justify-content: space-between;

  .about__details {
    width: 100%;
    max-width: 600px;

    .skills__container {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;

      .skill__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        i {
          transition: all ease-in-out var(--timer-short);
          font-size: 4rem;
        }
        p {
          font-size: 0.9rem;
          font-weight: bold;
          color: var(--grey-400);
        }

        &:hover {
          i {
            transform: translateY(-5px);
          }
        }

        @media screen and (max-width: 400px) {
          flex-wrap: wrap;
          i{
            font-size: 3rem;
          }
          p{
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  @media screen and (max-width:600px) {
    flex-direction: column;
  }

  img {
    width: 100%;
    max-width: 430px;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--grey-200);
  }
}
