$nav-text-col: var(--grey-400);

nav {
  width: 100%;
  background-color: black;
  background: rgba(231, 231, 231, 0);
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.226);
  position: fixed;
  z-index: 2;

  .nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    .logo {
      text-decoration: none;
      h1 {
        font-size: 2rem;
        background: -webkit-linear-gradient(
          var(--secondary-color-blue),
          var(--secondary-color-blue-gradient)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .nav__content-links {
      display: flex;
      gap: 50px;

      .nav-links {
        color: $nav-text-col;
        text-decoration: none;
        font-size: .875rem;
        font-weight: 500;
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
    .nav__content-details {
      display: flex;
      align-items: center;
      gap: 15px;

      a {
        font-size: 1.3rem;
        color: $nav-text-col;
      }

      .resume-btn {
        background-color: white;
        padding: 0.5rem 1.4rem;
        box-shadow: var(--accent-blue-blur) 0px 0px 20px;
        border-color: var(--accent-blue);
        color: $nav-text-col;
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}
