// Use this to set all the general styling for your application.
.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__container-small {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 0px;
}

.app__container-width {
  width: 95%;
  max-width: 1100px;
  // Smaller screen sizes make it 100%
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__whitebg {
  background-color: white;
}

.app__darkbg {
  color: var(--dark-bg);
}

hr {
  border-color: var(--grey-100);
  border-bottom: none;
  
}

.head-text {
  font-size: 3rem;
  color: var(--grey-500);
  font-weight: 800;
  span {
    background: -webkit-linear-gradient(
      var(--secondary-color-blue),
      var(--secondary-color-blue-gradient)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 1rem;
  text-align: left;
  color: var(--grey-500);
  line-height: 1.5;
  span {
    font-weight: bold;
  }

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}
.tag {
  font-weight: bold;
  color: var(--grey-400);
}

a {
  transition: all ease-in-out var(--timer-short);
}

button {
  box-shadow: var(--box-shadow-3);
  border-radius: 9px;
  border: 2px solid var(--grey-400);
  cursor: pointer;
  transition: all ease-in-out var(--timer-short);
}

.header-btn {
  padding: 0.9rem 2.5rem;
  font-size: 0.8rem;
  background-color: white;
  font-size: bold;
  width: 100%;
  &:hover {
    background-color: var(--grey-400);
    color: white;
  }
}

.header-btn.work {
  background-color: var(--grey-600);
  color: white;
  border-color: rgba(255, 255, 255, 0.856);
  box-shadow: var(--accent-purple-blur) 0px 0px 20px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: var(--accent-purple-blur) 0px 10px 30px;
  }
}
